footer {
    background-color: #F2F2F2;
    padding: 20px;
}

footer h1 {
    font-size: 16px;
    padding-top: 35px;
}

footer a {
    line-height: 30px;
}

@media only screen and (min-width: 768px)
{
    footer {
        display: flex;
        gap: 250px;
        padding: 0 50px;
        margin-top: 40px;
        
    }
}

/*VIEW TABLETTE*/
@media screen and (min-width: 500px) and (max-width: 799px) {
    
    footer {
        gap: 80px;
    }


}