footer {
    background-color: #F2F2F2;
    padding: 20px;
}

footer h5 {
    font-size: 16px;
    padding-top: 35px;
}

footer a {
    line-height: 30px;
}



/*VIEW TABLETTE*/



@media screen and (min-width: 768px) {
    
    footer {
        display: flex;
        padding: 0 50px;
        margin-top: 40px;
        gap : 140px;
        
    }
}

@media screen and (min-width: 1120px) {


    footer {

      gap: 250px;
    }
}
