
@import 'header.css';
@import 'footer.css';


/* généralités */

html, body {
    margin: 0;
    padding: 0;

    font-family: raleway;
    
    
    box-sizing: border-box;
    min-height: 100vh;
  }

  body  {
    display: grid;
    row-gap: 20px;
  }

  *,*::before, *::after {
    box-sizing: border-box;
  }

  ul {
    padding: 0;
  }

a {
    text-decoration: none;
    color :black;
}

li {
    list-style-type: none;
}

h1, h2, h3, p {
  margin: 0;
}

/* utility */

.bleuf {
    color: #0065FC;
}

.grisc {
    color :#c7c7c7;
}

.pad-sect {
    padding: 20px;
}

/* main */

main {
  display: grid;
  row-gap: 20px;  
}

/* Section search général*/

.section-search {
 
  display: grid;
  gap: 30px;

}

.section-search > h1 {
  font-size: 22px;
}

.section-search > p {
  margin-top: 13px;

}

/* zone de recherche */

.search {
  display: flex;
  position: relative;
}


.iconposition {

  background-color: #F2F2F2;
  width : 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px 0 0 15px;
  padding: 15px;
  font-size: 18px;
   
}

.zonesearch {
  height: 50px;
  border: 1px solid #F2F2F2;
  border-right: none;
  padding-left: 20px;
  font-size: 18px;
}

#textsearch {
  display: none;
}

#iconsearch {
  position: absolute;
  left: 275px;
  background-color: #0065FC ;
  border: 2px solid #0065FC;
  width : 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px ;
  color: white;
  font-size: 16px;
}

/* filtres */

.contenair-filtres {
  display: grid;
  gap: 20px;
}

.contenair-filtres h2 {
  font-size: 18px;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.btn {
  border: none;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding: 0 10px 0 0 ;
  border-radius: 25px; 
  border : 2px solid rgb(219, 219, 219);   
  border-left: none;
  cursor: pointer;
  background: none;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background-color:#0065FC;
  color: white;
}

.btn i{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #DEEBFF;
  font-size: 18px;
  cursor: pointer;
  
}

/* point information */

.contenair-info {
  display: flex;
  gap: 15px;
  
}

.contenair-info p {
  margin: 0;
  
}

.info {
  display: flex;
  font-size: 12px;
  color: #0065FC;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 10px;
  border: 1px solid #F2F2F2;
  border-radius: 20px;

}

/* section hebergement */

  /* aside les plus populaire */

.section-hebergements {
  display: flex;
  flex-direction: column;
}

aside, .hebergements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #F2F2F2;
}

.header-aside{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-aside h2 {
  padding-bottom: 15px;
  font-size: 22px;
}

.iconpop{
  font-size: 20px;
}

    /* card */

    .card {
      display: grid;
      grid-template-rows: 40px 40px 40px;
      grid-template-columns: 1fr 2fr;
      column-gap: 15px;
      grid-template-areas:
      "imgcard legend"
      "imgcard legend"
      "imgcard eval"
      ;
  
      background-color: white;
      border: 4px solid white;
      border-radius: 25px;
  
      
  }
  
  
  
  .imgcard {
      max-width: 100%;
      object-fit: cover;
      
      grid-area: imgcard;
      height: 100%;
      width: 100%;
      border-radius: 25px 0 0 25px ;
      
  }
  
  .card h3 {
      padding: 10px 10px 10px 0;
      font-size: 16px;
  }
  
  .legend {
      grid-area: legend;
      
  }
  
  .legend p {
      font-size: 14px;
  }
  
  .eval {
      display: flex;
      grid-area: eval;
      align-items: flex-end;
      padding-bottom: 10px;
  
      font-size: 12px;
  }

/* responsive desktop */

@media only screen and (min-width: 768px) {


  /* Zone de recherche */

  #iconsearch {
      display: none;

  }

  #textsearch {
      display: initial;
      background-color: #0065FC ;
      border: none;
      width: auto;
      height: 50px;
      text-align: center;
      border-radius: 0 15px 15px 0;
      padding: 0 20px 0 20px;
      color: white;

  }

  /* filtres desktop */

    .contenair-filtres {
      display: flex;
      align-items: center;
  }
}