
@import 'header.css';
@import 'footer.css';


/* généralités */

html, body {
    margin: 0;
    padding: 0;
    

    font-family: raleway;
    
    
    box-sizing: border-box;
    min-height: 100vh;
  }

  body  {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1440px;
    margin: 0 auto ;
  

  }

  *,*::before, *::after {
    box-sizing: border-box;
  }

  ul {
    padding: 0;
  }

a {
    text-decoration: none;
    color :black;
}

li {
    list-style-type: none;
}

h1, h2, h3, p {
  margin: 0;
}

/* utility */

.bleuf {
    color: #0065FC;
}

.grisc {
    color :#c7c7c7;
}

.pad-sect {
    padding: 20px;
}

.card-shadow {
  box-shadow: 2px 2px 8px rgb(223, 213, 213);
}

/* main */

main {
  display: grid;
  row-gap: 40px;  
}

/* Section search général*/

.section-search {
 
  display: grid;
  gap: 30px;

}

.section-search > h1 {
  font-size: 22px;
}

.section-search > p {
  margin-top: 13px;

}

/* zone de recherche */

.search {
  display: flex;
  position: relative;
}


.iconposition {

  background-color: #F2F2F2;
  width : 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px 0 0 15px;
  padding: 15px;
  font-size: 18px;
   
}

.zonesearch {
  height: 50px;
  border: 1px solid #F2F2F2;
  border-right: none;
  padding-left: 20px;
  font-size: 18px;
}

#textsearch {
  display: none;
}

#iconsearch {
  position: absolute;
  left: 275px;
  background-color: #0065FC ;
  border: 2px solid #0065FC;
  width : 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px ;
  color: white;
  font-size: 16px;
}

/* filtres */

.contenair-filtres {
  display: grid;
  gap: 20px;
}

.contenair-filtres h2 {
  font-size: 18px;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.btn {
  border: none;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding: 0 10px 0 0 ;
  border-radius: 25px; 
  border : 2px solid rgb(219, 219, 219);   
  border-left: none;
  cursor: pointer;
  background: none;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background-color:#0065FC;
  color: white;
}

.btn i{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #DEEBFF;
  font-size: 18px;
  cursor: pointer;
  
}

/* point information */

.contenair-info {
  display: flex;
  gap: 15px;
  
}

.contenair-info p {
  margin: 0;
  
}

.info {
  display: flex;
  font-size: 12px;
  color: #0065FC;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 10px;
  border: 1px solid #F2F2F2;
  border-radius: 20px;

}

/* section hebergement */

  /* aside les plus populaire */

.section-hebergements {
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #F2F2F2;
}

.hebergements, #section-activites {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
}

.hebergements-items {
  display: grid;
  row-gap: 20px;
}

.header-aside{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-aside h2 {
  padding-bottom: 15px;
  font-size: 22px;
}

.iconpop{
  font-size: 20px;
}

    /* card horizonale*/

    .card {
      display: grid;
      grid-template-rows: 40px 40px 40px;
      grid-template-columns: 135px auto;
      column-gap: 20px;
      grid-template-areas:
      "imgcard legend"
      "imgcard legend"
      "imgcard eval"
      ;
  
      background-color: white;
      border: 4px solid white;
      border-radius: 20px;
  
      
  }
  
  
  
  .imgcard {
      max-width: 100%;
      object-fit: cover;
      
      grid-area: imgcard;
      height: 100%;
      width: 100%;
      border-radius: 20px 0 0 20px ;
      
  }
  
  .card h3 {
      padding: 10px 10px 10px 0;
      font-size: 16px;
  }
  
  .legend {
      grid-area: legend;
      padding-right: 10px;

      
  }
  
  .legend p {
      font-size: 14px;
  }
  
  .eval {
      display: flex;
      grid-area: eval;
      align-items: flex-end;
      padding-bottom: 10px;
  
      font-size: 12px;
  }

/* Hebegements */

.hebergements {
  background-color: white;
}

.hebergements > h2 {
  padding-bottom: 15px;
  font-size: 22px;
}

   /* card vertical*/

   .cardv {
    display: grid;
    grid-template-rows: 116px 82px;
    column-gap: 15px;
    grid-template-areas:
    "imgcardv"
    "legendv"
    ;

    background-color: white;
    border: 4px solid white;
    border-radius: 20px;

    
}

.imgcardv {
    max-width: 100%;
    object-fit: cover;
    
    grid-area: imgcardv;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0  ;
    
}

.legendv {
  padding: 0 10px 10px 10px;
}

.cardv h3 {
    padding: 10px 0 10px 0;
    font-size: 16px;
}

.legendv {
    grid-area: legendv;
    
}

.legendv p {
    font-size: 14px;
    height: 22px;
}

.evalv {

    font-size: 12px;

}

#afficher{
  display: none;
}

/* section activites */

.contenair-activites {
  display: grid;
  gap: 20px;
}

.contenair-column2 {
  display: grid;
  row-gap: 20px;
}

.card-activites {
  display: grid;
  height: 190px;
  grid-template-rows: 135px 60px;

  border-radius: 20px;

}

.img-card-activites {
  max-width: 100%;
  object-fit: cover;

  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0  ;
}

.legend-activites {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.legend-activites h3 {
  font-size: 16px;
}



/* responsive desktop */

@media only screen and (min-width: 982px) {

  .section-search, .section-hebergements, #section-activites {
    padding: 0 50px;
  }


  /* Zone de recherche */

  #iconsearch {
      display: none;

  }

  #textsearch {
      display: initial;
      background-color: #0065FC ;
      border: none;
      width: auto;
      height: 50px;
      text-align: center;
      border-radius: 0 15px 15px 0;
      padding: 0 20px 0 20px;
      color: white;

  }

  /* filtres desktop */

    .contenair-filtres {
      display: flex;
      align-items: center;
  }

  /* section hebergements et populaire */

  .section-hebergements {
    display: grid;
    height: 100%;
    grid-template-columns: auto 35%;
    column-gap: 40px;
    grid-template-areas: 
    "hebergements populaire"
    ;
  
  }

  .hebergements, aside {
    border-radius: 20px;
    padding: 25px;
    height: 100%;
  }

  .card{
    grid-template-rows: 50px 50px 50px;
  }

  aside {
    grid-area: populaire;
    row-gap: 25px;
  }

  .hebergements {
    grid-area: hebergements;
    background-color: #F2F2F2;
  }

  .hebergements-items {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr ;
    gap : 25px;
  }

  #afficher {
    display: initial;
    font-weight: 600;
    align-self: flex-end;
    padding-bottom: 10px;
  }

  /* section activités */

  #section-activites{
    margin-top: 20px;
  }

  .contenair-activites {
    grid-template-rows: 450px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 45px;
   
  }

  .contenair-activites > .card-activites {
    display: grid;
    height: 100%;
    grid-template-rows: 390px 60px; 
  }

  .contenair-column2 {
    display: grid;
    width: 100%;
    gap: 40px ;
    height: 450px;
  }
    
  #pomegue {
    height: 240px;
    grid-template-rows: 180px 60px;
  }

  #frioul {
    height: 170px;
    grid-template-rows: 110px 60px;
  }

  #notre-dame {
    height: 195px;
    grid-template-rows: 135px 60px;
  }

  #longchamp {
    height: 210px;
    grid-template-rows: 155px 60px;
  }




  

 
}